/* To Hide Increase Decrese UI In OTP Box */
.spin-button-none::-webkit-outer-spin-button,
.spin-button-none::-webkit-inner-spin-button {
  appearance: none;
}

/* To Hide Increase Decrese UI In OTP Box For Firefox*/
.spin-button-none[type="number"] {
  -moz-appearance: textfield;
}

/* CSS Bounce IN Animation */
.bounce-custom {
  /* animation: bounce-custom 0.5s infinite; */
  animation: bounce-custom 0.5s
}
@keyframes bounce-custom {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}

.animate-scale {
  transform-origin: 0% 0%;
  animation: scale 0.2s;
}

.animate-scale-reverse {
  transform-origin: 0% 0%;
  animation: scale 0.2s reverse forwards;
}


/* Dropdown Animation */
@keyframes scale {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

/* Scroll Bar width */
.custom-scroll-bar::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Scroll Bar Track */
.custom-scroll-bar::-webkit-scrollbar-track {
  background: #222222; 
}
 
/* Scroll Bar Handle */
.custom-scroll-bar::-webkit-scrollbar-thumb {
  background: rgb(224, 201, 251); 
}

/* Scroll Bar Handle on hover */
.custom-scroll-bar::-webkit-scrollbar-thumb:hover {
  background: rgb(143, 190, 245); 
}

/* On next click - For Slide Show Image change left to right*/
.slide-in-from-right {
  animation: slideInFromRight 0.5s ease-in;
}

/* On next click - For Slide Show see Last image on right to left beforer image change*/
.slide-out-to-left {
  animation: slideOutToLeft 0.5s ease-in;
}

/*On prev click - For Slide Show Image change right to left*/
.slide-in-from-left {
  animation: slideInFromLeft 0.5s ease-in;
}

/* On prev click - For Slide Show see Last image on left to right beforer image change*/
.slide-out-to-right {
  animation: slideOutToRight 0.5s ease-in;
}

@keyframes slideInFromRight{
  from {
    transform: translateX(100%)
  }
  to {
    transform: translateX(0%)
  }
}

@keyframes slideOutToLeft{
  from {
    transform: translateX(0%)
  }
  to {
    transform: translateX(-100%)
  }
}

@keyframes slideInFromLeft{
  from {
    transform: translateX(-100%)
  }
  to {
    transform: translateX(0%)
  }
}

@keyframes slideOutToRight{
  from {
    transform: translateX(0%)
  }
  to {
    transform: translateX(100%)
  }
}
 
@tailwind base;
@tailwind components;
@tailwind utilities;

